#topnav a{
    text-decoration: none;
}
#topnav{
   display: flex;
    justify-content: space-around;
border: 10px solid chartreuse;
background-color: chartreuse; 
}
#innerbox{
border: solid;
height: 400px;
width: 400px;
background-color: antiquewhite;

}
body{
    background-color: blue;
}
#innerbody{
    height: 400px;
    width: 400px;
    border: 2px;
    background-color: antiquewhite;
}