#topnav a{
    text-decoration: none;
}
#topnav{
   display: flex;
    justify-content: space-around;
border: 10px solid chartreuse;
background-color: chartreuse;

}
#innerbox{
border: solid;
height: 400px;
width: 400px;
background-color: antiquewhite;

}
body{
    background-color:#c2c4c6;
    font-size: larger;
}
#innerbox{
    height: 400px;
    width: 1000px;
    border: 2px;
    background-color: antiquewhite;
    margin-left: 10px;
    margin-right: 10px;
}
#Achieve{
    background-color: antiquewhite;
    border: solid;
    height: 50px;
    width: 1000px;
    border: 2px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    
}
#logo{
    height: 100px;
    width: 80px;
    object-fit:contain;
}
@media screen and(min-width:270px) and(max-width:470px){
    #topnav{
        display: flex;
        flex-wrap: wrap;
      
     }
     #innerbox{
     
     height: 50px;
     width: 50px;
     
     
     }
     body{
        
     }
     #innerbox{
         height: 50px;
         width: 50px;
         border: 2px;
         margin-left: 5px;
         margin-right: 5px;
     }
     #Achieve{
         
         height: 50px;
         width: 50px;
         border: 2px;
         margin-left: 5px;
         margin-right: 5px;
         
     }
     #logo{
         height: 50px;
         width: 40px;
         object-fit:contain;
     }
}