#navigation a{
text-decoration: none;

}
#navigation{
    display: flex;
    justify-content: space-around;
border: 10px solid chartreuse;
background-color: chartreuse;
}
#goals{
    
    background-color: antiquewhite;
    
    margin-left: 80px;
    height: 60px;
    margin-right: 40px;
    

}
#primary{

    height: 500px;
    width: 2000px;
    background-color: antiquewhite;
    margin-left: 80px;
    
    
}
#secondary{
    
    height: 500px;
    width: 2000px;
    background-color: antiquewhite;
    margin-left: 40px;
    margin-right: 40px;
} 
#Goals{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
    /* height: 600px; */
    /* width: 1000px; */
    gap: 10%;
}

body{
    background-color: #c2c4c6;
}
#logo{
    height: 100px;
    width: 80px;
    object-fit:contain;
}
#add{
    height: 20px;
    
}
#Primary{
    width: 500px;
}
@media screen and(min-width:270px) and(max-width:470px){
    #navigation{
        display: flex;
        flex-wrap: wrap;
    
    }
    #goals{
        border: solid;
        background-color: antiquewhite;
        width:100px ;
        margin-left: 80px;
        
    
    }
    #primary{
        
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        margin-left: 80px;
        display: flex;
        flex-wrap: wrap;
        
    }
    #secondary{
        border: solid;
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
    } 
    #Goals{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        height: 150px;
        width: 50px;
        gap: 4%;
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        height: 10px;
        
    }
}
@media screen and(min-width:470px) and(max-width:670px){
    #navigation{
        display: flex;
        flex-wrap: wrap;
    
    }
    #goals{
        border: solid;
        background-color: antiquewhite;
        width:100px ;
        margin-left: 80px;
        
    
    }
    #primary{
        
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        margin-left: 80px;
        display: flex;
        flex-wrap: wrap;
        
    }
    #secondary{
        border: solid;
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
    } 
    #Goals{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        height: 150px;
        width: 50px;
        gap: 4%;
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        height: 10px;
        
    }
}
@media screen and(min-width:670px) and(max-width:870px){
    #navigation{
        display: flex;
        flex-wrap: wrap;
    
    }
    #goals{
        border: solid;
        background-color: antiquewhite;
        width:100px ;
        margin-left: 80px;
        
    
    }
    #primary{
        
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        margin-left: 80px;
        display: flex;
        flex-wrap: wrap;
        
    }
    #secondary{
        border: solid;
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
    } 
    #Goals{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        height: 150px;
        width: 50px;
        gap: 4%;
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        height: 10px;
        
    }
}
@media screen and(min-width:870px) and(max-width:1170px){
    #navigation{
        display: flex;
        flex-wrap: wrap;
    
    }
    #goals{
        border: solid;
        background-color: antiquewhite;
        width:100px ;
        margin-left: 80px;
        
    
    }
    #primary{
        
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        margin-left: 80px;
        display: flex;
        flex-wrap: wrap;
        
    }
    #secondary{
        border: solid;
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
    } 
    #Goals{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        height: 150px;
        width: 50px;
        gap: 4%;
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        height: 10px;
        
    }
}
@media screen and(min-width:1170px) and(max-width:1370px){
    #navigation{
        display: flex;
        flex-wrap: wrap;
    
    }
    #goals{
        border: solid;
        background-color: antiquewhite;
        width:100px ;
        margin-left: 80px;
        
    
    }
    #primary{
        
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
        margin-left: 80px;
        display: flex;
        flex-wrap: wrap;
        
    }
    #secondary{
        border: solid;
        height: 150px;
        width: 150px;
        background-color: antiquewhite;
    } 
    #Goals{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        height: 150px;
        width: 50px;
        gap: 4%;
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        height: 10px;
        
    }
}
