#navigation a{
text-decoration: none;

}
#navigation{
    display: flex;
    justify-content: space-around;
border:solid chartreuse;
background-color: chartreuse;
height: 20%;
font-size: xx-large;
}
#goals{
    
    background-color: antiquewhite;
    
    margin-left: 80px;
    height: 60px;
    margin-right: 40px;
    padding: 10px;
    

}
#primary{

    height: 500px;
    width: 2000px;
    background-color: antiquewhite;
    margin-left: 80px;
    padding-left: 20px;
    
    
}
#secondary{
    
    height: 500px;
    width: 2000px;
    background-color: antiquewhite;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
} 
#Goals{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
    /* height: 600px; */
    /* width: 1000px; */
    gap: 10%;
    font-size: x-large;
}

body{
    background-color: #c2c4c6;
}
#logo{
    height: 60px;
    width: 80px;
    object-fit:contain;
}
#add{
    height: 20px;
    
}
#Primary{
    width: 500px;
}
#Add{
    margin-left: 460px;
}
#add{
    margin-left: 460px;
}
@media screen and (min-width:270px) and (max-width:470px){
    #navigation{
        flex-wrap: wrap;
        font-size: medium;
    
    }
    #goals{
        border: solid white;
        background-color: antiquewhite;
        width:240px ;
        margin-left: 0px;
        text-align: center;
        
    
    }
    #primary{
        
        height: 350px;
        width: 500px;
    
        margin-left: 0px;
        padding-left: 0px;
        
        flex-wrap: wrap;
        font-size: small;
        
    }
    #secondary{
        border: solid white;
        height: 345px;
        width: 500px;
        background-color: antiquewhite;
        font-size: small;
        margin-right: 0px;
        margin-left: 1px;
        padding-left: 0px;
    } 
    #Goals{
    gap: 0%;
        
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        
        margin-left: 10px;
        
    }
    #Add{
        margin-left: 10px;

    }
}
@media screen and (min-width:470px) and (max-width:670px){
    #navigation{
        flex-wrap: wrap;
        font-size: medium;
    
    }
    #goals{
        border: solid white;
        background-color: antiquewhite;
        width:900px ;
        margin-left: 0px;
        text-align: center;
        
    
    }
    #primary{
        
        height: 350px;
        width: 500px;
    
        margin-left: 0px;
        padding-left: 0px;
        
        flex-wrap: wrap;
        font-size: small;
        
    }
    #secondary{
        border: solid white;
        height: 345px;
        width: 500px;
        background-color: antiquewhite;
        font-size: small;
        margin-right: 0px;
        margin-left: 1px;
        padding-left: 0px;
    } 
    #Goals{
    gap: 0%;
        
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        
        margin-left: 10px;
        
    }
    #Add{
        margin-left: 10px;

    }
}
@media screen and (min-width:670px) and (max-width:870px){
    #navigation{
        flex-wrap: wrap;
        font-size: medium;
    
    }
    #goals{
        border: solid white;
        background-color: antiquewhite;
        width:900px ;
        margin-left: 0px;
        text-align: center;
        
    
    }
    #primary{
        
        height: 350px;
        width: 500px;
    
        margin-left: 0px;
        padding-left: 0px;
        
        flex-wrap: wrap;
        font-size: small;
        
    }
    #secondary{
        border: solid white;
        height: 345px;
        width: 500px;
        background-color: antiquewhite;
        font-size: small;
        margin-right: 0px;
        margin-left: 1px;
        padding-left: 0px;
    } 
    #Goals{
    gap: 0%;
        
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        
        margin-left: 10px;
        
    }
    #Add{
        margin-left: 10px;

    }
}
@media screen and (min-width:870px) and (max-width:1170px){
    #navigation{
        flex-wrap: wrap;
        font-size: x-large;
    
    }
    #goals{
        border: solid white;
        background-color: antiquewhite;
        width:900px ;
        margin-left: 0px;
        text-align: center;
        
    
    }
    #primary{
        
        height: 450px;
        width: 500px;
    
        margin-left: 0px;
        padding-left: 0px;
        
        flex-wrap: wrap;
        font-size: x-large;
        
    }
    #secondary{
        border: solid white;
        height: 445px;
        width: 500px;
        background-color: antiquewhite;
        font-size: x-large;
        margin-right: 0px;
        margin-left: 1px;
        padding-left: 0px;
    } 
    #Goals{
    gap: 0%;
    font-size: x-large;
        
    }
    
    
    #logo{
        height: 60px;
        width: 60px;
        object-fit:contain;
    }
    #add{
        
        margin-left: 10px;
        
    }
    #Add{
        margin-left: 10px;

    }
}
@media screen and(min-width:1170px) and(max-width:1370px){
    #navigation{
        flex-wrap: wrap;
        font-size: medium;
    
    }
    #goals{
        border: solid white;
        background-color: antiquewhite;
        width:900px ;
        margin-left: 0px;
        text-align: center;
        
    
    }
    #primary{
        
        height: 350px;
        width: 500px;
    
        margin-left: 0px;
        padding-left: 0px;
        
        flex-wrap: wrap;
        font-size: small;
        
    }
    #secondary{
        border: solid white;
        height: 345px;
        width: 500px;
        background-color: antiquewhite;
        font-size: small;
        margin-right: 0px;
        margin-left: 1px;
        padding-left: 0px;
    } 
    #Goals{
    gap: 0%;
        
    }
    
    
    #logo{
        height: 50px;
        width: 40px;
        object-fit:contain;
    }
    #add{
        
        margin-left: 10px;
        
    }
    #Add{
        margin-left: 10px;

    }
}
